<!DOCTYPE html>
<html>
<head>
<script src="static/js/jquery-1.9.0.js"> </script>
<script src="static/js/getTheReview.js"></script>
</head>
<body>

<h2>Find Out How Funny You Are Against Yelp's Humour</h2>

<!--
popular yelp review results:
I would rather live in a duct taped cardboard box in the Amazon rainforest amongst a tribe of cannibalistic savages than rent from these people again. To say the property managers are rude would be an understatement. I was notified a only week before renovations were to be started on my apartment. The crew they brought in made a complete mess of the outside of the complex. They came into my neighbors apartment before he moved out and began work on the inside of his apartment. I tried for two weeks to get in touch with the property manager and only received one response via email and then never heard anything else from her until I went to the office in person.

our reviews with interesting results:
hello world banana computers fly

the food was okay the service was fine and the price was alright
-->

<form role="form">
  <h4>Post Your Review Here</h4>
  <br>
  <input type="text" id="reviewBox" name="review" class="form-control" placeholder="Your Funny Review Here" required autofocus>
  </br>
  <button class="btn btn-lg btn-primary btn-block" type="button">Check How Funny</button>

  <h3>Based on 6.68 million reviews, our CNN thinks you are this likely to get voted as "funny" for your review.</h3>
  <h3 id="yelpPercent"></h3>
  </br>
  <h3>Training a CNN with an even split of funny (funny > 1) reviews and lame ones, your review expressed as a "funny" percentage is this funny.</h3>
  <h3 id="normFunnyPercent"></h3>
  </br>
</form>

<p>Made by Sebastian Fiorini & Vincent McLoughlin for MTE 546</p>
<p>University of Waterloo</p>

<a href="https://github.com/sebfio/howFunnyAreYou.git">Check out the source code</p>

</body>
</html>

